<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Revolve - Personal Magazine blog Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <!-- THEME CSS
	================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap-min.css">
    <!-- Themify -->
    <link rel="stylesheet" href="plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="plugins/slick-carousel/slick-theme.css">
    <link rel="stylesheet" href="plugins/slick-carousel/slick.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="plugins/owl-carousel/owl-carousel-min.css">
    <link rel="stylesheet" href="plugins/owl-carousel/owl-theme-default-min.css">
    <link rel="stylesheet" href="plugins/magnific-popup/magnific-popup.css">
    <!-- manin stylesheet -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>


    <div class="header-logo py-5 d-none d-lg-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt=""
                            class="img-fluid w-100"></a>
                </div>
            </div>
        </div>
    </div>

    <header class="header-top bg-grey justify-content-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-4 text-center d-none d-lg-block">
                    <a class="navbar-brand " href="index.html">
                        <img src="images/logo.png" alt="" class="img-fluid">
                    </a>
                </div>

                <div class="col-lg-8 col-md-12">
                    <nav class="navbar navbar-expand-lg navigation-2 navigation">
                        <a class="navbar-brand text-uppercase d-lg-none" href="#">
                            <img src="images/logo.png" alt="" class="img-fluid">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
                                aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="ti-menu"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            <ul id="menu" class="menu navbar-nav mx-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/home" id="navbarDropdown" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        Home
                                    </a>

                                </li>


                                <li class="nav-item"><a href="/home" class="nav-link">About</a></li>
                                <li class="nav-item"><a href="#category" class="nav-link">Category</a></li>
                                <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                            </ul>

                            <ul class="list-inline mb-0 d-block d-lg-none">
                                <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="ti-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <div class="header-socials-2 text-right d-none d-lg-block">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="ti-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <h2 class="lg-title">Contact</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="pt-5 padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                    <div class="row">
                        <div class="col-lg-12">
                            <img src="images/contact.jpg" alt="" class="img-fluid w-100"  style="width: 500px; height: 900px;">
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <p class="mt-5 mb-5">

                                Nous tenons à vous informer que votre message est très important pour nous. Nous sommes conscients de l'importance
                                de chaque demande de nos clients et nous nous engageons à répondre rapidement à chaque formulaire que nous recevons.
                            </p>

                            <h2 class="mb-4">Get In Touch</h2>

                            <form id="contact-form" class="contact-form" method="POST"  th:action="@{/message}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="name">Votre nom:</label>
                                            <input class="form-control form-control-name" name="name" id="name"
                                                type="text" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="email">Votre Email </label>

                                            <input class="form-control form-control-email" name="email" id="email"
                                                type="email" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="message">Votre Message</label>
                                            <textarea class="form-control form-control-message" name="message"
                                                id="message" rows="7" required></textarea>
                                        </div>

                                        <button class="btn btn-primary solid blank mt-3" type="submit"> Envoyer le Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </section>


    <!--footer start-->
    <footer class="footer-section bg-grey">
        <div class="instagram-photo-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="text-center">Follow in Instagram</h4>
                    </div>
                </div>

                <div class="row no-gutters" id="instafeed">

                </div>
            </div>
        </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="mb-4">
                        <h2 class="footer-logo">Revolve.</h2>
                    </div>
                    <ul class="list-inline footer-socials">
                        <li class="list-inline-item"><a href="#"><i class="ti-facebook mr-2"></i>Facebook</a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-twitter mr-2"></i>Twitter</a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-linkedin mr-2"></i>Linkedin</a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-pinterest mr-2"></i>Pinterest</a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-github mr-2"></i>Github</a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-instagram mr-2"></i>Instrgram</a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-rss mr-2"></i>rss</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>
    <!--footer end-->

    <!-- THEME JAVASCRIPT FILES
================================================== -->
    <!-- initialize jQuery Library -->
    <script src="plugins/jquery/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="plugins/bootstrap/js/bootstrap-min.js"></script>
    <script src="plugins/bootstrap/js/popper-min.js"></script>
    <!-- Owl caeousel -->
    <script src="plugins/owl-carousel/owl-carousel-min.js"></script>
    <script src="plugins/slick-carousel/slick-min.js"></script>
    <script src="plugins/magnific-popup/magnific-popup.js"></script>
    <!-- Instagram Feed Js -->
    <script src="plugins/instafeed-js/instafeed-min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script src="plugins/google-map/gmap.js"></script>
    <!-- main js -->
    <script src="js/custom.js"></script>


</body>

</html>