<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Revolve - Personal Magazine blog Template</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- theme meta -->
	<meta name="theme-name" content="revolve" />

	<!--Favicon-->
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

	<!-- THEME CSS
	================================================== -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap-min.css">
	<!-- Themify -->
	<link rel="stylesheet" href="plugins/themify/css/themify-icons.css">
	<link rel="stylesheet" href="plugins/slick-carousel/slick-theme.css">
	<link rel="stylesheet" href="plugins/slick-carousel/slick.css">
	<!-- Slick Carousel -->
	<link rel="stylesheet" href="plugins/owl-carousel/owl-carousel-min.css">
	<link rel="stylesheet" href="plugins/owl-carousel/owl-theme-default-min.css">
	<link rel="stylesheet" href="plugins/magnific-popup/magnific-popup.css">
	<!-- manin stylesheet -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<header class="header-top bg-grey justify-content-center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-4 text-center d-none d-lg-block">
					<a class="navbar-brand " href="index.html">
						<img src="images/logo.png" alt="" class="img-fluid">
					</a>
				</div>

				<div class="col-lg-8 col-md-12">
					<nav class="navbar navbar-expand-lg navigation-2 navigation">
						<a class="navbar-brand text-uppercase d-lg-none" href="#">
							<img src="images/logo.png" alt="" class="img-fluid">
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
							aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
							<span class="ti-menu"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbar-collapse">
							<ul id="menu" class="menu navbar-nav mx-auto">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="/home" id="navbarDropdown" role="button" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false">
										Home
									</a>
									
								</li>
								

								<li class="nav-item"><a href="/home" class="nav-link">About</a></li>
								<li class="nav-item"><a href="#category" class="nav-link">Category</a></li>
								<li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
							</ul>

							<ul class="list-inline mb-0 d-block d-lg-none">
								<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="ti-pinterest"></i></a></li>
							</ul>
						</div>
					</nav>
				</div>

				<div class="col-lg-2 col-md-4 col-6">
					<div class="header-socials-2 text-right d-none d-lg-block">
						<ul class="list-inline mb-0">
							<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ti-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="slider mt-4">
		<div class="container-fluid">
			<div class="row no-gutters">
				<div class="col-lg-12 col-sm-12 col-md-12 slider-wrap" th:utext="${sliderItems}">



				</div>
			</div>
		</div>
	</section>

	<section class="section-padding">
		<h1 class="text-center" style="margin-bottom: 22px;" id="category">Categories</h1>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="/Etablissements">
									<img src="category/ecole.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-extra text-sm text-uppercase letter-spacing-1 font-weight-bold">Etablissements</span>
								<h3 class="post-title mt-1"><a href="/Etablissements">Le meilleur endroit pour créer votre futur</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">écoles, universités</span>
							</article>
						</div>
						<div class="col-lg-6 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="/Bibliotheque">
									<img src="category/bib.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing font-weight-bold"> Bibliothèques</span>
								<h3 class="post-title mt-1"><a href="/Bibliotheque">Les bibliothèques dans la société moderne</a></h3>

								<span class="text-muted letter-spacing text-uppercase font-sm">les bibliothèques numériques</span>

							</article>
						</div>
						<div class="col-lg-6 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="/centres_coaching">
									<img src="category/coching.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class=" cat-name text-color font-sm font-extra text-uppercase letter-spacing font-weight-bold">Les centres de coaching</span>
								<h3 class="post-title mt-1"><a href="/centres_coaching">Aider les personnes à atteindre leurs objectifs</a></h3>

								<span class="text-muted letter-spacing text-uppercase font-sm"> la gestion du temps, la gestion de carrière, la prise de décision</span>

							</article>
						</div>
						<div class="col-lg-6 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="/espaces_travail">
									<img src="category/cafe.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing font-weight-bold">Les espaces de travail </span>
								<h3 class="post-title mt-1"><a href="/espaces_travail">un nouveau paradigme pour la créativité et l'innovation</a></h3>

								<span class="text-muted letter-spacing text-uppercase font-sm">une chaîne de cafétérias pour les études aux khouribga</span>

							</article>
						</div>
				
					</div>
				</div>

				
			</div>
		</div>
	</section>

	<section class="footer-2 section-padding gray-bg pb-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="subscribe-footer text-center">
						<div class="form-group mb-0">
							<h2 class="mb-3">Khouribga SmartCity</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-btm mt-5 pt-4 border-top">
				<div class="row">
					<div class="col-lg-12">
						<ul class="list-inline footer-socials-2 text-center">
							<li class="list-inline-item"><a href="/home">Home</a></li>
							<li class="list-inline-item"><a href="/home">About</a></li>
							<li class="list-inline-item"><a href="#category">Category</a></li>
							<li class="list-inline-item"><a href="/Contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- THEME JAVASCRIPT FILES
================================================== -->
	<!-- initialize jQuery Library -->
	<script src="plugins/jquery/jquery.js"></script>
	<!-- Bootstrap jQuery -->
	<script src="plugins/bootstrap/js/bootstrap-min.js"></script>
	<script src="plugins/bootstrap/js/popper-min.js"></script>
	<!-- Owl caeousel -->
	<script src="plugins/owl-carousel/owl-carousel-min.js"></script>
	<script src="plugins/slick-carousel/slick-min.js"></script>
	<script src="plugins/magnific-popup/magnific-popup.js"></script>
	<!-- Instagram Feed Js -->
	<script src="plugins/instafeed-js/instafeed-min.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
	<script src="plugins/google-map/gmap.js"></script>
	<!-- main js -->
	<script src="js/custom.js"></script>


</body>

</html>